---
import BaseLayout from '../layouts/BaseLayout.astro';

import AsciiBackground from '/src/image/ascii-magic-3.png'

import { getImage } from 'astro:assets';

const asciiBackground = await getImage({src: AsciiBackground})
const pageTitle = "";
---
<style>

   
    .above, .below{
        font-family: 'Courier New', Courier, monospace;
            /* font-family: "IBMPlexSansTC", "IBM Plex Sans Chinese TC", sans-serif; */
    font-size: .75rem;
    font-weight: 800;
    letter-spacing: .09em;
    color: var(--color-muted);
    text-transform: uppercase;
    }
    .heading{
        font-size: max(3rem, 10vw);
        margin: 0 0 0 0;
         font-family:"IBMPlexSansTC", "IBM Plex Sans Chinese TC", sans-serif
 ;
        font-weight: 700;
        line-height: 1;
    letter-spacing: -.05em;
    color: var(--color-ink);
    }
    .hero-container{
       
        max-width: 60vw;
        position: relative;
        /* font-size: 5rem; */
        font-weight: 700;
        color: var(--color-muted);
        top: 10%;
        left: 1rem;
        padding-top: 6rem;
        z-index: 12;
    }
    .home-shell{
        position:relative;
        min-height:100vh;
        overflow: hidden;
        /* background-image:  */    
    }

 .ascii-bg-layer{
    content: "";
    position: absolute;
    inset: 0;
    background-image:var(--bimg);;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    

    /* transforms — zoom + pan */
    transform: scale(1.29) translate(10%, -1%);
    transform-origin: center;

    /* visual filters */
    filter: blur(1px) contrast(1.2) brightness(0.9) saturate(0.8);

    opacity: 0.65;
    pointer-events: none;
    z-index: 1;
  }

  /* @keyframes slow-zoom {
  from { transform: scale(1.1) translate(0%, 0%); }
  to   { transform: scale(1.25) translate(-2%, 2%); }
} */

/* .ascii-bg-layer {
  animation: slow-zoom 20s ease-in-out infinite alternate;
} */


</style>


<BaseLayout pageTitle={pageTitle}>
    <div class="home-shell" >
        <div class="ascii-bg-layer"  style={ `background-image: url("${asciiBackground.src}")` }></div>
    <div class="hero-container">
    <p class="above">NLP . DLWP . Mech Interp</p>
  <p class="heading">VISHNU KADAM</p>
  <p class="below">BS-MS graduate, IISER Pune. Working on problems in NLP and Deep Learning for Weather</p>
  </div>
  </div>
</BaseLayout>
