---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
const  { pageTitle } = Astro.props;
import DotField from '../components/DotField.astro';

---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css"
  integrity="sha384-n8MVd4RsNIU0KOVEMckDMsCSLVNuGBsMFPgjOgqFWAqQmZnpcdFRggHcHOAaAsu4"
  crossorigin="anonymous"
/>
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <Header />
    
     <div class="site-wrapper">
{pageTitle !== "" && <h1 style="padding: 2rem 2rem 0 2rem;">{pageTitle}</h1>}
    
    <main>
       <!-- <DotField
    dotRadius={1.5}
    dotSpacing={40}
    bulgeStrength={67}
    glowRadius={160}
    sparkle={false}
    waveAmplitude={0}
    cursorRadius={500}
    cursorForce={0}
    bulgeOnly
    gradientFrom="#A855F7"
    gradientTo="#B497CF"
    glowColor="#120F17"
  /> -->
      <slot />
    </main>
   <Footer />
    </div>
    <script>
      import "../scripts/menu.js";
    </script>
  </body>
</html>